<div fxLayout="row" fxLayoutAlign="start center">

    <div class="info" fxFlex fxLayout="column">

        <div class="row-1" fxLayout="row" fxLayoutAlign="start center">

            <div class="title" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <span class="text-truncate"> {{work.title }}</span>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="time"> {{'potential-work.list-item.messages.published' | translate}} {{work.createdDate | localMoment | dynamicMoment | amCalendar }}</div>
            </div>

        </div><br>

        <div *ngIf="work.estimatedHour !==null " class="title" fxFlex fxLayout="row" fxLayoutAlign="start center">
            <span class="text-truncate" ><B>{{'potential-work.hourly-estimated' | translate}} : {{work.estimatedHour }} {{'potential-work.hour' | translate}}</B></span>
        </div><br>

        <div *ngIf="work.estimatedHour !==null " class="title" fxFlex fxLayout="row" fxLayoutAlign="start center">
            <span class="text-truncate" ><B>{{'potential-work.remuneration-worker' | translate}} : {{work.service.hourlyRemuneration * work.estimatedHour }} $ </B></span>
        </div><br>


        <div class="row-1" fxLayout="row" fxLayoutAlign="start center">
            <div class="name" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <img *ngIf="work.createdBy.image" [src]="work.createdBy.image" class="avatar"/>
                <img *ngIf="!work.createdBy.image" [src]="'assets/images/avatars/profile.jpg'" class="avatar"/>
                <span
                    class=" message text-truncate">{{'potential-work.list-item.messages.for' | translate}} {{work.createdBy.firstName}} {{work.createdBy.lastName}}</span>
            </div>
        </div>

        <div class="row-2" fxLayout="row" fxLayoutAlign="start center">

            <div fxLayout="column" fxLayoutAlign="start start">
                <div class="message text-truncate">
                    <div class="line-height-1.75">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="mr-4">location_on</mat-icon>
                            {{work.address.postalCode}}
                            <mat-icon class="ml-16 mr-4">event</mat-icon>
                            {{work.date | dynamicMoment | amCalendar  }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="info" fxFlex fxLayout="column">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                    <work-status [work]="work"></work-status>
                </div>

            </div>
        </div>
        &nbsp;
        <div class="actions" fxLayout="row" fxLayoutAlign="start start">
                <button (click)="refuseWork()" color="accent" mat-button>{{'potential-work.list-item.messages.interested-job' | translate}}</button>
                <button (click)="navigateToWorkDetails()" color="accent" mat-raised-button>{{'potential-work.list-item.messages.service' | translate}}</button>
        </div>

    </div>
