<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0" matDialogTitle>
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                <span class="title dialog-title">{{dialogTitle | translate}}</span>
            </div>
            <button (click)="matDialogRef.close()" aria-label="Close dialog" mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

    </mat-toolbar>
    <div class="m-16">
        <form [formGroup]="form" fxFlex fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Message</mat-label>
                    <textarea #messageInput formControlName="message" matInput name="message" rows="7"
                              type="text"></textarea>
                    <mat-hint align="end">{{messageInput.value.length}} / 500</mat-hint>
                    <mat-error *ngIf="form.get('message').hasError('minlength')">
                        {{ 'approve-work.worked-hours-number-changed-dialog.messages.errors.message.minLength' | translate : {'length': 20} }}
                    </mat-error>
                    <mat-error *ngIf="form.get('message').hasError('maxlength')">
                        {{ 'approve-work.worked-hours-number-changed-dialog.messages.errors.message.maxLength' | translate : {'length': 500} }}
                    </mat-error>
                    <mat-error *ngIf="form.get('message').hasError('required')">
                        {{'approve-work.worked-hours-number-changed-dialog.messages.errors.message.required' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center" mat-dialog-actions>
        <button (click)="approve()"
                *ngIf="form"
                [disabled]="form.invalid"
                aria-label="SAVE"
                class="save-button"
                mat-raised-button>
            {{'shared.button.confirm' | translate | uppercase}}
        </button>
    </div>
</div>