@import "src/@fuse/scss/fuse";

#work-apply-form {

    .fuse-card {
        max-width: 1000px !important;
    }

    .apply-form {
        width: 100%;
    }

    .message-info {
        color: gray;
        font-size: 14px;
        margin-bottom: 0;
    }
}

