<fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100" fxLayout="row">
    <!-- Front -->
    <div class="fuse-widget-front">
        <div class="px-16 border-bottom" fxLayout="row wrap"
             fxLayoutAlign="space-between center">
            <div class="py-16 h3" fxFlex>{{'worker-profile.about-me.label'| translate}}</div>
        </div>
        <div class="p-16" fxLayout="column">
            <div class="pb-16" fxLayout="row wrap" fxLayoutAlign="start start">
                <div class="pr-16">
                    <div>{{professionalInformation.presentation}}</div>
                </div>
            </div>
        </div>
    </div>

</fuse-widget>