@import "src/@fuse/scss/fuse";

#wait-client-approve-work-done {

    .fuse-card {
        max-width: 1000px !important;
    }

    .apply-form {
        width: 100%;
    }

    .blue-icon {
        color: blue;
    }

    .italic {
        font-style: italic;
    }

}

