@import "src/@fuse/scss/fuse";

work-offered-to-other-worker {

    .fuse-card {
        max-width: 1000px !important;
    }

    .apply-form {
        width: 100%;
    }

    mat-icon {
        color: orange;
    }
}

