<div id="work-paid-info">

    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}"
                 class="widget " fxLayout="column">
        <div class="fuse-card full-width">
            <div class="p-16 light-gray-600">
                <div class="h3" fxLayout="row">
                    <mat-icon class="s-24 mr-8">notification_important</mat-icon>
                    {{'work-offered-to-other-worker.service-assigned-other-worker'| translate}}
                </div>
            </div>
        </div>
    </fuse-widget>
</div>
